<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap" rel="stylesheet"> 
    <link href="templates/styles.css" rel="stylesheet"> 
    <title>PasswordGuesser</title>
</head>
<body>
    <main>
        <div class="container">
            <form id="form" action="/data" method="POST">
            <p>Password Guesser</p>
            <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;" id="divInput">
                    <input name="text" type="text" placeholder="Enter a word">
                    <input name="date"type="date">
                    
                </div>
                <div>
                    <input type="button" value="Add a word" onclick="addInput('text')">
                    <input type="button" value="Add a date" onclick="addInput('date')">
                </div>
                <input type="submit" value="Send words">
            </div>
            </form>
        
            <div class="drops">
            <div class="drop drop-1"></div>
            <div class="drop drop-2"></div>
            <div class="drop drop-3"></div>
            <div class="drop drop-4"></div>
            <div class="drop drop-5"></div>
            </div>
        </div>
    </main>
</body>
</html>

<script>
    const divInput = document.getElementById("divInput")
    function addInput(type){
        console.log("hello")
        let input = document.createElement("input");
        input.type = type
        input.placeholder = "Add a word"
        input.name = type
        divInput.appendChild(input)
    }

</script>